@keyframes scroll-ltr {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-rtl {
  from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
  }
}

@keyframes fill-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-scroll-ltr {
  animation: scroll-ltr 5s linear infinite;
}

.animate-scroll-rtl {
  animation: scroll-rtl 5s linear infinite;
}
